@model E_Ticaret.Webui.Models.ProductView
@{
    //Formun name'leri modellerle aynı olsun
}

<h1 class="h3">Edit Product</h1>
<hr />
<form asp-controller="Admin" asp-action="Edit" method="post" enctype="multipart/form-data">
    <!--Bunu foot post için yazdık-->
    <div class="row">
        <div class="col-md-12">
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <input type="hidden" asp-for="ProductId" value="@Model.ProductId" />
            <div class="form-group row">
                <label asp-for="Name" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Url" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="Url" />
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Description" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <textarea id="editor" class="form-control" asp-for="Description"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="ImageUrl" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input type="hidden" asp-for="ImageUrl" />
                    <img src="~/img/@Model.ImageUrl" width="80" />
                    <input type="file" name="file" id="" />
                </div>
            </div>


            <div class="form-group row">
                <label asp-for="Price" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="Price" />
                </div>
            </div>


            <div class="form-group row">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
        <div class="col-md-4">
            @for (int i = 0; i < Model.SelectedCategories.Count; i++) //Getin gönderdiklerini posta geri gönderiyoruz.hata sonucunda modelden gelmesi için
            {
                <input type="hidden" name="SelectedCategories[@i].CategoryId" value="@Model.SelectedCategories[i].CategoryId" />
                <input type="hidden" name="SelectedCategories[@i].Name" value="@Model.SelectedCategories[i].Name" />

            }


            @foreach (var item in (List<Category>)ViewBag.Categories)
            {
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="categoryId" value="@item.CategoryId" id="category_@(item.CategoryId)" @(Model.SelectedCategories.Any(i => i.CategoryId == item.CategoryId) ? "checked" : "") /> <!--ürünlerin dahil olduğu kategriler işaretli gelsin diye yazıldı-->
                    <label class="custom-control-label" for="category_@(item.CategoryId)">@item.Name</label>

                </div>
            }

            <div class="custom-control custom-checkbox">
                <input type="checkbox" checked="@Model.IsApproved" class="custom-control-input" asp-for="@Model.IsApproved" /> <!--ürünlerin dahil olduğu kategriler işaretli gelsin diye yazıldı-->
                <label class="custom-control-label" asp-for="@Model.IsApproved">IsApproved</label>

            </div>

            <div class="custom-control custom-checkbox">
                <input type="checkbox" checked="@Model.IsHome" class="custom-control-input" asp-for="@Model.IsHome" /> <!--ürünlerin dahil olduğu kategriler işaretli gelsin diye yazıldı-->
                <label class="custom-control-label" asp-for="@Model.IsHome">IsHome</label>

            </div>

        </div>
    </div>
</form>
@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/20.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
    </script>
}
